@model CRMProject.Models.SupportTicket
@{
    ViewData["Title"] = "Add Ticket";
}

<h2>Support Tickets</h2>

<a asp-action="DisplayTicketsInput" class="btn btn-primary mb-3">Add New Ticket</a>

<form asp-action="DisplayTicketsInput" method="post" class="p-3 border rounded bg-light">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="CustomerID" class="form-label"></label>
        <input asp-for="CustomerID" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Issue" class="form-label"></label>
        <input asp-for="Issue" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="IssueDescription" class="form-label"></label>
        <textarea asp-for="IssueDescription" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="AssignedAgent" class="form-label"></label>
        <select asp-for="AssignedAgent" class="form-control">
            <option>Agent_Charan</option>
            <option>Agent_Divya</option>
            <option>Agent_Fatima</option>
            <option>Agent_Eshwar</option>
            <option>Agent_Vijay</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Status" class="form-label"></label>
        <select asp-for="Status" class="form-control">
            <option>Pending</option>
            <option>Resolved</option>
            <option>Documents Required</option>
        </select>
    </div>


    

    <button type="submit" class="btn btn-success">Add Ticket</button>
</form>
